*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background-color: #f2f2f2;
    height: 100vh;
    /*vh là chiều cao hiện tại của màn hình */
}

.card-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 304px;
    background-color: #fff;
    padding: 16px;
    margin: 20px;
}

span {
    display: inline-block;
}

img {
    display: block;
    /* xét độ rộng lớn nhất */
    max-width: 100%; 
    /* để xét margin cho ra giữa */
    margin: auto;
}

.card-icon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.card-icon span:hover {
    color: #fa5f7d;
}

.card-icon span {
    color: #BFC5D1;
}

.card-thumbnail img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name {
    font-size: 18px;
    color: #1B2437;
    margin: 16px 0;
    font-weight: 500;
}

.email {
    font-style: 14px;
    color: #98a0a6;
    font-weight: 500;
}
.card-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.card-btn button {
    flex-basis: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 12px 0;
    border-radius: 20px;
    border: none;
}

.card-btn button:hover {
    background-color: #507bfc;
    color: #fff;
}

.btn-icon {
    color: #bfc5d1;
    margin-right: 10px;
}

.btn-name {
    color: #98a0a6;
    font-size: 14px;;
}

.card-btn button:hover .btn-icon, .card-btn button:hover .btn-name  {
    color: #fff;
}  

.tittle {
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
}

.left {
    display: flex;
}

.team-logo {
    height: 40px;
    width: 40px;
    background-color: #507BFC;
    margin-right: 24px;
}

.team-logo i {
    font-size: 24px;
    margin: 8px;
    color: #fff;
}

.team-name {
    display: flex;
    flex-direction: column;
}

.title-1 {
    font-size: 18px;
    color: #1B2437;
    font-weight: 500;
}

.title-2 {
    font-size: 12px;
    font-weight: 500;
    color:#94969A;
}

.right {
    display: flex;
    align-items: center;
    width: 210px;
    border: 1px solid black;
    border-radius: 20px;
}

.right button {
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    padding: 15px;
}

button:hover{
    border-radius: 20px;
    background-color: blue;
}

.before-title {
    height: 72px;
    display: flex;
    justify-content: space-between;
}

.right-bef {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}

.ava-user img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.name-user {
    margin-left: 5px;
}
.left-bef {
    display: flex;
    align-items: center;
}