.avata i {
    font-size: 30px;
}

.info div{
    font-size: 13px;
    margin-bottom: 6px;
}

.info strong{
    font-size: 15px;
}

.info-2nd {
    display: flex;
    justify-content: space-between;
}

.left-content .row:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.left-content .row {
    height: 40px;
}

.left-content .row div{
    display:flex;
    align-items: center;
}

.right-content {
    overflow-y: scroll; 
    height: 645px; 
    background-color: rgb(104, 100, 100); 
    padding-top: 20px;
}