#start {
    position: absolute;  
    display: inline-block;
    background-color: white;
    height: 250px;
    width: 500px;
    z-index: 100;
    top: calc(50% - 125px);
    right: calc(50% - 250px);
    text-align: center;
    padding-top: 60px;
}

#canvas {
    position: relative;
}

#finish {
    position: absolute;  
    display: none;
    background-color: white;
    height: 250px;
    width: 500px;
    z-index: 100;
    top: calc(50% - 125px);
    right: calc(50% - 250px);
    text-align: center;
    padding-top: 60px;
}