.nar-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #fff;
    font-size: 30px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.74);
    z-index: 1000;
}
body {
    font-size: 20px;
    background-color: #ced6e0;
}

.page {
    width: 85%;
    margin: 0px auto;
    margin-top: 230px;
}

.place {
    display: flex;
    justify-content: space-between;
    background-color: #f1f2f6;
    padding: 10px;
    margin-bottom: 50px;
}

.place:last-child {
    margin-bottom: 10px;
}

.image {
    display: flex;
    justify-content: center;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-img-1 {
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin: auto;
    margin-right: 10px;
}

.item-img {
    width: 300px;
    height: 195px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.item-img:first-child {
    margin-right: 10px;
}

.image img {
    width: 100%;
    object-fit: cover;
    transition: all .5s;
}

img:hover {
    transform: scale(1.2);
}

.item-img:hover {
    box-shadow: 5px 5px 10px #000;
}

.item-img-1:hover {
    box-shadow: 5px 5px 10px #000;
}

.name {
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.info {
    padding: 0px 50px 0px 20px;
    text-align: justify;
}

a {
    text-decoration: none;
}

.btn {
    position: absolute;
    top: 350px;
    right: 65px;
}

.btn button:hover a{
    color: #fff;
}

.btn button:hover {
    background-color: #ced6e0;
}

.info-place {
    position: relative;
}