<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/admin/hire_return">Manage Renter</a>
    <a href="/books/library">Manage Library</a>
</body>
</html>