.right-input div {
    color: white;
    padding: 20px;
    text-align: left;
}
body {
    background-color: #c8d6e5;
}

.right-input {
    display: flex;
    height: 100%;
    justify-content: flex-start;
}

.login-singin {
    display: flex;
    justify-content: center;
}

.login-singin div {
    padding: 0px;
    height: 100%;
}

.cus-packet {
    display: flex;
    justify-content: flex-start;
}

.cus-packet div {
    padding: 0px;
    height: 100%;
}

.input {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    height: 100%;
    width:auto;
}

.menuBar2{
    display: flex;
    justify-content: left;
    padding-left: 200px;
    padding-right: 280px;
    background-color: white;
}

.menuBar2 div{
    margin-right: 10px;
    padding: 2px;
}

.rightbar2 {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.menuBar1 {
    background-color: red;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
}


.menuBar {
    border: 1px solid;
    position: fixed;
    z-index: 99;
    right: 0;
    left: 0;
    top: 0;
}

img {
    width: 100%;
    height: auto;
}

.abc {
    width: 85%;
    margin: 110px auto;
}

.name-cata {
    color: red;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 05px;
}

.img-pro {
    background-color: white;
    height: 488px;
    padding: 20px;
    position: relative;
}

.but-buy {
    text-align: center;
    color: white;
    background-color: red;
    width: 200px;
    position: absolute;
    left: calc(50% - 100px);
    margin-top: -6px;
    height: 40px;
}

.but-buy button {
    border: 0;
    background: none;
    margin-top: 10px;
    color: white;
}

.info-pro {
    float: left;
    width: 19%;
    margin-left: 5px;
    position: relative;
    height: 400px;
}

.info-pro:hover {
    box-shadow: 0 0 10px black;
}

.name-pro {
    width: 80%;
    margin: 20px;
    height: 36.8px;
}

.pri-pro {
    width: 80%;
    margin: 20px;
}

.watch-pro {
    clear: both;
    position: absolute;
    width: 200px;
    left: calc(50% - 120px);
    border: 2px solid red;
    text-align: center;
    top: 85%;
    height: 40px;
}

.watch-pro button {
    color: red;
    border: 0;
    background: none;
    margin-top: 10px;
}

.watch-pro:active {
    background-color: #ff7675;
}

button:active {
    
}