<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleInsert.css">
</head>

<body>

    <form action="doInsert" method="POST">
        <div>
            <h1>Adding Book</h1>
        </div>
        <div class="flex">
            <p><span>Book ID:</span> <input type="text" name="bookid" id="bookid"></p>
            <p><span>Book Name:</span> <input type="text" name="name" id="name"></p>
            <p><span>Genre:</span> <input type="text" name="genre" id="genre"></p>
            <p><span>Author:</span> <input type="text" name="author" id="author"></p>
            <p><span>Amount:</span> <input type="text" name="amount" id="amount"></p>
            <p><input type="submit" id="btn" value="Add"></p>
        </div>
    </form>


    <script>

        document.querySelector('#btn').onclick = function () {
            if (document.querySelector('#bookid').value === '' || document.querySelector('#bookid').value === ' ') {
                alert("Must input Book ID");
                return false;
            }
            if (document.querySelector('#name').value === '' || document.querySelector('#name').value === ' ') {
                alert("Must input Book Name");
                return false;
            }
            if (document.querySelector('#genre').value === '' || document.querySelector('#genre').value === ' ') {
                alert("Must input Genre");
                return false;
            }
            if (document.querySelector('#author').value === '' || document.querySelector('#author').value === ' ') {
                alert("Must input Author");
                return false;
            }
            if (document.querySelector('#amount').value === '' || document.querySelector('#amount').value === ' ') {
                alert("Must input Amount");
                return false;
            }
        }
    </script>
</body>

</html>