img {
    width: 100%;
}

.imgVNfruit:last-child {
    clear: both;
}
.imgVNfruit {
    float: left;

}


.left-content{
    width: 40%;
    float: left;
    background-color: orange;
}

.right-content {
    width: 60%;
    float: right;
    background-color: blue;
}

.outer-img {
    width: 85%;
    margin: auto;
}

p {
    text-align: center;
}