.page {
    width: 90%;
    margin: auto;
}

.left-content {
    width: 35%;
    background-color:#E5D700;
    float: left;
    margin: 10px;
    height: 1700px;
}

.right-content {
    width: 60%;
    background-color: #403C00;
    float: left;
    margin: 10px;
    height: 1700px;
}

.myPic {
    width: 80%;
    margin: 5px auto;
    margin-bottom: 20px;
}

img{
    width: 100%;
    height: ;
}

h1 {
    text-align: center;
    margin-top: 5px;
}

h2 {
    text-align: center;
    background-color: #BFB300;
    padding: 20px;
}

.abc {
    width: 90%;
    margin: auto;
}

.icon {
    width: 20%;
    float: left;
}

.info-icon {
    width: 70%;
    float: left;
    margin: 20px;
    background-color: #7F7700;
}

.not-float {
    clear: both;
}

.right-info {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.tit-info {
    display: inline-block;
    height: 45px;
    width: 220px;
    text-align: center;    
    background-color: white;
    margin: 10px;
}


.txt-info {
    background-color: #E5D700;
    padding: 1px;
}

.right-content p {
    font-size: 25px;
    text-align: justify;
}

.left-content p {
    font-size: 20px;
}

body {
    background-color: #403C00;
}