img {
    width: 100%;
}

.imgVNfruit:last-child {
    clear: both;
    margin: 0px;
}
.imgVNfruit {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    
}

.imgVNfruit img:hover {
    border-radius: 10%;
}

.left-content{
    width: 40%;
    float: left;
}

.right-content {
    width: 60%;
    float: right;
    background-color: blanchedalmond;
}

.outer-img {
    width: 85%;
    margin: auto;
}

p {
    text-align: center;
}