h1 {
    color: red;
    text-align: center;
}
p {
    text-align: justify;
    background-color: rgba(255, 0, 24, 0.3);
}

#spi {
    background-color: red;
    color: white;
}

#dead {
    background-color: yellow;
    color: green;
}

#venom {
    background-color: black;
    color: white;
}

div {
    background-color: red;
}