a {
    color: #00a8ff;
    text-decoration: none;
}

.layout {
    width: 45%;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    font-size: 30px;
    text-align: justify;
}

h3 {
    font-size: 20px;
}
p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

#box{
    border: 1px solid;
    padding: 10px;
}

#box2 {
    border: 1px solid;
    margin: 20px;
    padding-left: 15px;
}

.img1 {
    display: flex;
    justify-content: center;
}