/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */
.container {
    display: flex;
    justify-content: center;
    font-size: 16px;
    height: 200px;
    width: 200px;
    margin: auto;
    overflow: hidden;
    transition:  all .5s;
}

img {
    display: block;
    max-height: 100%;
    margin: auto;
    object-fit: cover;
    transition: all .3s;
}

.container:hover {
    box-shadow: inset 0px 0px 60px 10px #000;
}

/*img:hover {
    transform: /* scale(2) /*rotate(10deg)*/ /* translateY(100px) translateX(50px);
}*/

/* button {
    font-size: 1em;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px; /*căn giữa text theo chiều dọc*/
    /*text-transform: uppercase;
    border: none;
    background-color: #3f444d;
    color: #fff; */
    /* transition-property: background-color, width;
    transition-duration: 1s, 1s;
    transition-timing-function: ease; */
    /*transition: background-color 2s, width 3s, height 3s;
} */

button:hover {
    background-color: red;
    width: 600px;
    height: 400px;
}