.taskbar {
    display: flex;
    margin: 0px 0px 10px 0px;
}

.color-board {
    display: flex;
}

.color {
    width: 50px;
    height: 50px;
    margin: 0px 5px;
    border: none;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

.width-tool {
    display: flex;
}

.tool {
    /* position: relative; */
    width: 50px;
    height: 50px;
    margin: 0px 5px;
    background-color: azure;
    display: flex;
    align-items: center;
}

hr {
    width: 5px;
    background-color: black;
}

#w5 hr {
    height: 10px;
}

#w7 hr {
    height: 20px;
}

#w10 hr {
    height: 30px;
}

body {
    background-color: #bdc3c7;
}

